/* yg_07_artist_detail_profile_pc.css */
@media screen and (min-width: 960px) and (max-width: 1365px) {
  body,html{width: 100%; height: 100%;}
  #wrap{position: relative; width: 100%; height: 100%; background-color: #F6A7BA;}
  /* #headBox */
  #headBox{position: fixed; z-index: 1; width: 100%; height: 100px; top: 0; left: 0; padding: 0 25px; box-sizing: border-box; background-color: rgba(255,255,255,0.1); box-shadow: 0 1px 7px rgba(0,0,0,0.2);}
    #headBox>h1{width: 170px; height: 100%; float: left; transition: all 700ms ease;}
    #headBox>h1:hover{transform: rotateY(180deg); transition: all 700ms ease;}
      #headBox>h1>span{display: block; overflow: hidden; position: absolute; z-index: -1; width: 0; height: 0;}
      #headBox>h1>a{display: block; width: 100%; height: 100%; padding: 25px; box-sizing: border-box;
        background-image: url("../../../img/p06/bp_logo_02.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;}
    #gnb{float: right;}
      #gnb>h2{display: block; overflow: hidden; position: absolute; z-index: -1; width: 0; height: 0;}
      #gnb>button{display: none;}
      #gnb>ul{width: auto; height: 100%;}
        #gnb>ul>li{width: auto; height: 100%; padding: 0 20px; height: 100%; float: left;}
        #gnb>ul>li.menu{background-color: #d1000a;}
        #gnb>ul>li.menu>a{color: #fff;}
          #gnb>ul>li>a{display: block; width: 100%; height: 100%; color: #000; font-size: 16px; line-height: 100px; text-align: center;}
          #gnb a:focus{background-color: transparent; outline: 0; }
  /* //#headBox */
  /* #bg */
  #bg{position: relative; width: 100%; height: 100%;
    background-image: url("../../../img/p07/back_02.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;}
    #bg>h2{display: block; overflow: hidden; position: absolute; z-index: -1; width: 0; height: 0;}
    .artist_pic{display: none; position: absolute; width: 50%; height: 100%; top: 0; left: 25%; background-color: #fff;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;}
    .mem_01{display: block; background-image: url("../../../img/p07/1.jpg");}
    .mem_02{background-image: url("../../../img/p07/2.jpg");}
    .mem_03{background-image: url("../../../img/p07/3.jpg");}
    .mem_04{background-image: url("../../../img/p07/4.jpg");}
      .artist_pic>span{display: block; overflow: hidden; position: absolute; z-index: -1; width: 0; height: 0;}
  /* //#bg */
  /* .thumb_list */
  .thumb_list{position: absolute; width: 170px; height: 170px; top: 20%; left: 8%;}
    .thumb_list>ul{width: 100%; height: 100%;}
      .thumb_list>ul>li{float: left; width: 80px; height: 80px; border: 2px solid #fff; box-sizing: border-box;}
      .thumb_list>ul>li:nth-child(1){margin-right: 10px; margin-bottom: 10px;}
      .thumb_list>ul>li:nth-child(2){margin-bottom: 10px;}
      .thumb_list>ul>li:nth-child(3){margin-right: 10px;}
        .thumb_list>ul>li>button{width: 100%; height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;}
        .thumb_list>ul>li:nth-child(1)>button{background-image: url("../../../img/p07/1.jpg");}
        .thumb_list>ul>li:nth-child(2)>button{background-image: url("../../../img/p07/2.jpg");}
        .thumb_list>ul>li:nth-child(3)>button{background-image: url("../../../img/p07/3.jpg");}
        .thumb_list>ul>li:nth-child(4)>button{background-image: url("../../../img/p07/4.jpg");}
          .thumb_list>ul>li>button>span{display: block; overflow: hidden; position: absolute; z-index: -1; width: 0; height: 0;}
          .thumb_list>ul>li>button:focus:after{display: block; content: " "; width: 100%; height: 100%; background-color: rgba(0,0,0,0.3);}
  /* //.thumb_list */
  /* .mem_info */
  .mem_info{position: absolute; top: 70%; left: 40%;}
    .mem_info>ul{display: none;}
    .mem_info>ul:nth-child(1){display: block;}
      .mem_info>ul>li{width: 300px;}
      .mem_info>ul>li>span{float: left; height: 30px; color: #fff; font-size: 18px; line-height: 30px; font-weight: bold;}
      .mem_info>ul>li>span:nth-of-type(1){display: block; width: 100px;}
      .mem_info>ul>li>span:nth-of-type(2){width: 200px;}
  /* //.mem_info */
  }
/* ------------yg_07_artist_detail_profile_pc.css */