/*yg_pc min960 ~ max1365 */
@media screen and (min-width: 960px) and (max-width: 1365px) {
/* #footBox */
    #footBox{width: 100%; height: 150px; background-color: #fff; position: relative; z-index: 200; padding: 40px; box-sizing: border-box; margin-top: -1px;}
        #footBox>h2>a{width: 80px; height: 80px;
          background-image: url("../../../img/logo/YG_symbol_B.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          float:left;}
          #footBox>h2>a>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
      .copyright{width: 40%; height: auto; float:left; margin-top: 20px; margin-left: 10px;}
        .copyright>li{font-size: 14px; line-height: 20px;}
      .sns_wrap{position: absolute; width: 280px; height: auto; top: 0; right: 0; z-index: 201; margin-right: 40px; margin-top: -60px;}
      .sns_wrap>li{width: 40px; height: 40px; margin-right: 20px; float: left;}
      .sns_wrap>li:nth-child(5){margin-right: 0;}
        .sns_wrap>li>a{display: block; width: 100%; height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;}
          .sns_wrap>li:nth-child(1)>a{background-image: url("../../../img/logo/youtube_b.png");}
          .sns_wrap>li:nth-child(2)>a{background-image: url("../../../img/logo/youku_b.png");}
          .sns_wrap>li:nth-child(3)>a{background-image: url("../../../img/logo/facebook_b.png");}
          .sns_wrap>li:nth-child(4)>a{background-image: url("../../../img/logo/weibo_b.png");}
          .sns_wrap>li:nth-child(5)>a{background-image: url("../../../img/logo/twitter_b.png");}
          .sns_wrap>li>a>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
      .foot_nav{float:right;}
        .foot_nav>ul>li{float:left; margin-top: 20px; margin-right: 20px;}
        .foot_nav>ul>li:nth-child(4){margin-right: 0;}
          .foot_nav>ul>li>a{display: block; font-size: 14px; color: #333; text-transform: uppercase;}
          .sns_wrap>li:nth-child(1)>a:hover,.sns_wrap>li:nth-child(1)>a:focus{background-image: url("../../../img/logo/youtube_c.png");}
        .sns_wrap>li:nth-child(3)>a:hover,.sns_wrap>li:nth-child(3)>a:focus{background-image: url("../../../img/logo/facebook_c.png");}
        .sns_wrap>li:nth-child(4)>a:hover,.sns_wrap>li:nth-child(4)>a:focus{background-image: url("../../../img/logo/weibo_c.png");}
        .sns_wrap>li:nth-child(5)>a:hover,.sns_wrap>li:nth-child(5)>a:focus{background-image: url("../../../img/logo/twitter_c.png");}
/* //#footBox */
}
/* -----------yg_pc min960 ~ max1365 