/* yg_tablet min481 ~ max959 */
@media screen and (min-width: 481px) and (max-width: 959px) {
/* #headBox */
        #headBox>h1>button{width: 50px; height: 50px; border-radius: 50%;
          position: fixed; top: 20px; left: 20px; z-index: 1000;
          background-color: #000;
          background-image: url("../../../img/logo/YG_symbol_W.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;}
        #headBox>h1>button:hover{background-image: url("../../../img/menu.png"); background-size: 50%;}
        #headBox>h1>button.logo_close{background-image: url("../../../img/cancel.png"); background-size: 50%;}
          #headBox>h1>button>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
        .lang>ul{position: fixed; width: 150px; top: 0; right: 0; margin-top: 20px; margin-right: 20px; z-index: 201;}
          .lang>ul>li{margin-right: 15px; float: left; font-size: 12px; text-transform: uppercase; font-weight: bold; text-shadow: 0 1px 1px rgba(255,255,255,1);}
          .lang>ul>li:nth-child(3),.lang>ul>li:nth-child(4){margin-top: 15px;}
            .lang>ul>li>a{display: block; width: 100%; height: 100%; color: #000;}
        #headBox>#gnb>h2{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
        #headBox>#gnb>ul{position: fixed; top:45px; left: 150px; z-index: 1000; text-transform: capitalize; display: none;}
          #headBox>#gnb>ul>li{width: auto; height: 65px;}
            #headBox>#gnb>ul>li>a{display: block; width: auto; height: 70%; font-size: 40px; color: #fff; font-weight: bold; padding-right: 20px;}
    #headBox>.yg_family{position: fixed; top: 155px; left: 20px; font-size: 34px; font-weight: bold; color: #fff; z-index: 100;}
    #headBox>.back_black{width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); position: fixed; top:0; z-index: 900; display: none;}
    #headBox>.navigation{position: fixed; z-index: 900; width: 50px; height: 50px; border-radius: 50%; top: 20px; left: 80px; background-color: #000; color: #fff; font-size: 12px; text-align: center; line-height: 50px;}
    #headBox>.navigation>p{width: 100%; height: 100%;}
    #headBox>.navigation>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
/* //#headBox */
/* #videoWrap */
    #videoWrap{width: 100%; height: 100%; position: fixed; top: 0; left: 0;}
      #videoWrap>h2{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1;}
      #videoWrap>video{width: auto; height: auto; min-width: 100%; min-height: 100%; position: absolute;
     top: 50%; left: 50%; transform:translate(-50%, -50%);}
/* //#videoWrap */
}
/* -----yg_tablet min481 ~ max959 */